*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-around   ;
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    text-transform: capitalize;
    padding: 10px;
    font-size: 25px;
}
a{
    color: black;
}
.menu ul li {
    display: inline-block;
    padding-left: 20px;
}
.menu ul a li{
    color: black;
}
.menu ul li a:hover{
    color: orange;
}
.hov1{
  animation: abc 0.5s infinite;
}
.container1{
    width: 100%;
    height: auto;
   margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px gray solid;
}
.logo img{
  width: 150px;
  height: 80px;
}
.text{
    font-size: 30px;
}
.text:hover{
    color: orange;
}
.hov2{
    color: orange;
    font-size: 30px;
}
.icon{
   display: flex;

}
.icon1{
   padding-left: 20px;
   font-size: 30px;
   cursor: pointer;
}
.icon1:hover{
  color: orange;
}
.container2{
     width: 100%;
     height: auto;
     display: flex;
     justify-content: space-around;
     padding-top: 20px;

}
.menu1 ul li{
   display: inline-block;
   padding-left: 20px;
   font-size: 20px;
    
}
.menu1 ul li:hover{
    color: rgb(255, 166, 0);
    cursor: pointer;
}
.search input{
    background-color: ghostwhite;
    width: 300px;
    height: 35px;
}
.searchicon{
  padding: 10px;
  cursor: pointer;
}
.container3{
    margin-top: 20px;
    width: 100%;
    height: auto;
    background-image: url(imag1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
sup{
    background-color: red;
    color: white;
    border-radius: 12px;
}
.a{
    width: 40%; 
    padding-top: 90px;
    padding-bottom: 90px;
}
.a1{
  color: #ce7e56;
    text-transform: capitalize;
  font-size: 25px;
  margin-left: 20%;
  }
.a2{ 
   font-size: 65px;
   margin-left: 20%;
}
    .a3 button{
    width: 120px;
    height: 40px;
    margin-left: 20%;
    background-color: rgb(206, 117, 16);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
    .btn:hover{
    background-color: transparent;
    border: 1px rgb(206, 117, 16) solid ;
}
.container4{
margin-top: 2%;
width: 100%;
height: auto;
background-color: #fafafa;
display: flex;
text-transform: capitalize;
padding: 10px;
padding-left: 40%;
}
.box1{
   border-right: 1px gray solid;
   padding-right: 10px;
   font-size: 15px;
   color: #717171;
   font-family: sans-serif;
}
.box2{
    font-size: 25px;
    padding-left: 1%;
}
.container5{
    width: 50%;
    height: auto;
    margin: 40px auto;
    display: flex;
    padding: 10px;
}
.g4{
    width: 50%;
    height: auto;
    border: 1px solid gray;
    /* padding top 15px right 20px */
    padding: 20px 20px;
}
.g5{
    width: 50%;
    height: 275px;
     /* padding top 15px right 20px */
     padding: 30px 20px;
     font-weight: 400;
}
.f1{
    font-size: 35px;
}
.f2{
    margin-top: 5px;
    color: #717171;
    font-size: 20px;
}
.f3{
   margin-top: 20px;
}
.input-f3{
    width: 100%;
    height: 30px;
    padding: 15px;
}
.f3-email{
    font-size: 22px;
    text-transform: capitalize;
}
.btn {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #eaab49;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}
.btn a{
     color:white;
     text-decoration: none;
     text-transform: capitalize;

}
.f9{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize ;
    color: #eaab49;

}
.g1{
    margin-top: 40px;
    text-align: center;
    font-size: 25px;
}
.btn1 {
    margin-top: 20px;
    width: 100%;
    height: 40px;
    border: 1px solid #eaab49;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    transition: 0.3s;

}
.btn1 a{
    color: #eaab49;
     text-decoration: none;
     text-transform: capitalize;
}
.btn1:hover{
    background-color: lightpink;
}
.g2{
    margin-top: 20px;
    color: #eaab49;
    font-size: 25px;
}
.g3{
    margin-top:20px;
    font-size: 20 px;
}
.container14{
    margin-top: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-top: 1px solid gray;
}
.box21{
   width: 20%;
   height: auto;    
   padding: 10px;

}
.box22 {
    width: 17%;
    height: auto;
    text-decoration: none;
    text-align: center;
    padding: 45px;
}
.b21{
    width: 50px;
    height: 100px;
    justify-content: center;

}
.b22{
  margin-top: 27px;
  font-size: 22px;
}
.b23 i{
    margin-top: 18px;
     font-size: 25px;
}
.bb1{
    font-size: 35px;
}
.bb2{
    font-size: 19.5px;
}
.ul ul li{
    padding-top: 9px;
    text-decoration: none;
    list-style-type: none;
    font-size: large;
}
.ul ul li:hover{
    color: #EAAB48;
}
.bb3{
    font-size: 25px;
}
.s2{
    margin-top: 20px;
    font-size: 18px;
}

.copyright{
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    border-top: 2px gray groove;
}
.copy{
    width: 70%;
    margin-left: 100px;
    font-size: 25px;
}
.socialmediaicon{
    display: flex;
    width: 25%;
    font-size: 30px;
    justify-content: end;
    justify-content: space-evenly;
    

}
.socialmediaicon i{
    padding: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 12px;
    cursor: pointer;
    
}
.socialmediaicon i:hover{
    background-color: orangered;
 
    
}

@keyframes abc {
25%{
    color: orange;
}
50%{
    color: orange;
}
75%{
    color: orange;
}
100%{
    color: orange;
}
}
